
.sidebar{
    position:fixed;
    width: 25%;
    margin-top: 0px;
    margin-left: 0px;
    height: 100%;
}
.player{
    position:fixed;
    top:0;
    margin-left:25%;
    width: 75%;
    height:100%;
}
.bg-img{
    filter:blur(8px);
    height:100%;
    width: 100%;
}
.img-container{
    position:absolute;
    top:25%;
    bottom:25%;
    left:25%;
    right:25%;

}
.song-img{
    position:absolute;
    height:80%;
    width:100%;

}
.audio-controls{
    position: absolute;
    height:20%;
    width:100%;
    top:80%;
}
#current-time{
  position:absolute;
  top:10%;
  left:5%
}
#progress-bar{
    position:absolute;
    top:10%;
    left:10%;
    width:79%;
    right:10%   
}
#total-duration{
   position:absolute;
   top:10%;
   left:90%;

}
.prevNext{
    position:absolute;
    left:40%;
    top:30%;
}
#volume-bar{
    top:30%;
    width:10%;
    left:30%;
    position:absolute;
}
.round-time-bar{
    height:5px;
    width:20%;
    background: linear-gradient(to bottom, red , grey);
}
.seek-slider{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background:black;
    opacity:0.7;
    -webkit-transition: .10s;
    transition: opacity .2s;
}
.seek-slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width:15px;
    height:15px;
    background: pink;
    cursor: pointer;
    border-radius: 50%;
}
